@import "variables";

/*Sobre Mi*/

#sobreMi {
    background-color: $crema;
    color: $azulOscuro;
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
    #sobreMi__content {
        width: 100%;
        height: 85vh;
        #sobreMi__content__text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        #sobreMi__content__img1{
            height: 85vh;
            display: flex;
            justify-content: center;
            align-items:flex-start;
            img{
                width: 100%;
                height: 75vh;
            }
        }
        #sobreMi__content__img2{
            height: 85vh;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            img{
                width: 100%;
                height: 75vh;
            }
        }
    }
}

