@import "variables";

/*Inicio*/

#inicio {
    width: 100%;
    height: 100vh;
    background-color: $crema;
    margin-top: 15vh;
    background-image: url('../styles/mutimedia/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: $crema;
    display: flex;
    justify-content: center;
    align-content: center;
    #inicio__content {
        margin-top: 25vh;
        width: 50%;
        height: 35vh;
        text-align: center;
        background-color: $azulOscuro;
        opacity: 0.8;
    }
}

