@import "variables";

/*Abordaje*/



#abordaje {
    width: 100%;
    background-color: $azulOscuro;
    color: $crema;
    height: 100vh;
    padding-top: 15vh;
    text-align: center;
    display: flex;
    justify-content: center;
    #abordaje__content{
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        #abordaje__options{
            padding-left: 0;
            padding-right: 0;
            padding-top: 15vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}